<nav class="navbar navbar-expand-md navbar-fixed-top navbar-inverse">
  <div class="container">
  <a id="logo" routerLink="/" routerLinkActive="active">sample app</a>
  <button class="navbar-toggler" type="button" aria-controls="navbarContent" [attr.aria-expanded]="!collapsed" aria-label="Toggle navigation" (click)="collapsed = !collapsed">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse" [class.collapse]="collapsed" id="navbarContent">
    <ul class="navbar-nav ml-auto">

      <li class="nav-item">
        <a class="nav-link" tabindex="0" routerLink="/" routerLinkActive="active">
          Home
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" tabindex="0" routerLink="/help" routerLinkActive="active">
          Help
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" tabindex="0" routerLink="/users" routerLinkActive="active">
          Users
        </a>
      </li>
      <li class="nav-item" ngbDropdown>
        <a class="nav-link" tabindex="0" ngbDropdownToggle id="navbarDropdown1" role="button">
          Account
        </a>
        <div ngbDropdownMenu aria-labelledby="navbarDropdown2" class="dropdown-menu dropdown-menu-right">
          <a ngbDropdownItem routerLink="/users/1" routerLinkActive="active">Profile</a>
          <a ngbDropdownItem routerLink="/users/1/edit" routerLinkActive="active">Settings</a>
          <a ngbDropdownItem href="#logout" (click)="$event.preventDefault()">Logout</a>
        </div>
      </li>
    </ul>
  </div>
  </div>
</nav>
<!-- <header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
  <a id="logo" href="/">sample app</a>
    <nav>
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed"
                data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1"
                aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <ul class="nav navbar-nav navbar-right collapse navbar-collapse"
          id="bs-example-navbar-collapse-1">
        <li><a routerLink="/" routerLinkActive="active">Home</a></li>
        <li><a routerLink="/help" routerLinkActive="active">Help</a></li>
        <li *ngIf="loading; else nameElseBlock"><a href="/">Loading</a></li>
        <ng-template #nameElseBlock>
          <li><a href="/">Lỗi</a></li>
        </ng-template>

        <div *ngIf="displayName; then thenBlock; else elseBlock"></div>
        <ng-template #thenBlock>
          <li><a routerLink="/users" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Users</a></li>
          <li class="dropdown">
            <a href="/" class="dropdown-toggle" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a routerLink="/users/1" routerLinkActive="active">Profile</a></li>
              <li><a routerLink="/users/1/edit" routerLinkActive="active">Settings</a></li>
              <li class="divider"></li>
              <li>
                <a routerLink="#logout" (click)="logMessage()">Logout</a>
              </li>
            </ul>
          </li>
        </ng-template>
        <ng-template #elseBlock>
          <li><a routerLink="/login">Log in</a></li> 
        </ng-template>
      </ul>
    </nav>
  </div>
</header> -->
