<header className="navbar navbar-fixed-top navbar-inverse">
  <div className="container">
  <a id="logo" href="/">sample app</a>
    <nav>
      <div className="navbar-header">
        <button type="button" className="navbar-toggle collapsed"
                data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1"
                aria-expanded="false">
          <span className="sr-only">Toggle navigation</span>
          <span className="icon-bar"></span>
          <span className="icon-bar"></span>
          <span className="icon-bar"></span>
        </button>
      </div>
      <ul className="nav navbar-nav navbar-right collapse navbar-collapse"
          id="bs-example-navbar-collapse-1">
        <li><a routerLink="/" routerLinkActive="active">Home</a></li>
        <li><a routerLink="/help" routerLinkActive="active">Help</a></li>

        <h2 *ngIf="loading; else nameElseBlock">
          <li><a href="/">Loading</a></li>
        </h2>
        <ng-template #nameElseBlock>
          <li><a href="/">Lỗi</a></li>
        </ng-template>

        <div *ngIf="displayName; then thenBlock; else elseBlock"></div>
        <ng-template #thenBlock>
          <li><a routerLink="/users" routerLinkActive="active">Users</a></li>
          <li className="dropdown">
            <a href="/" className="dropdown-toggle" data-toggle="dropdown">
              Account <b className="caret"></b>
            </a>
            <ul className="dropdown-menu">
              <li><a routerLink="/users/1" routerLinkActive="active">Profile</a></li>
              <li><a routerLink="/users/1/edit" routerLinkActive="active">Settings</a></li>
              <li className="divider"></li>
              <li>
                <a routerLink="#logout" (click)="logMessage()">Logout</a>
              </li>
            </ul>
          </li>
        </ng-template>
        <ng-template #elseBlock>
          <li><a routerLink="/login">Log in</a></li> 
        </ng-template>
      </ul>
    </nav>
  </div>
</header>
