<header className="navbar navbar-fixed-top navbar-inverse">
  <div className="container">
  <a id="logo" href="/">sample app</a>
    <nav>
      <div className="navbar-header">
        <button type="button" className="navbar-toggle collapsed"
                data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1"
                aria-expanded="false">
          <span className="sr-only">Toggle navigation</span>
          <span className="icon-bar"></span>
          <span className="icon-bar"></span>
          <span className="icon-bar"></span>
        </button>
      </div>
      <ul className="nav navbar-nav navbar-right collapse navbar-collapse"
          id="bs-example-navbar-collapse-1">
        <li><a href="/">Home</a></li>
        <li><a href="/help">Help</a></li>
        <!-- {
          userData.loading ? (
            <li><a href="/">Loading</a></li>
          ) : userData.error ? (
            <li><a href="/">{userData.error}</a></li>
          ) : userData.users ? (
            <React.Fragment>
            <li><NavLink to="/users">Users</NavLink></li>
            <li className="dropdown">
              <a href="/" className="dropdown-toggle" data-toggle="dropdown">
                Account <b className="caret"></b>
              </a>
              <ul className="dropdown-menu">
                <li><NavLink to={"/users/"+userData.users.id}>Profile</NavLink></li>
                <li><NavLink to={"/users/"+userData.users.id+"/edit"}>Settings</NavLink></li>
                <li className="divider"></li>
                <li>
                  {/*<button onClick={onClick}>Logout</button>*/}
                  <a href="#logout" onClick={onClick}>Logout</a>
                </li>
              </ul>
            </li>
            </React.Fragment>
          ) : (
            <li><NavLink to="/login">Log in</NavLink></li>
          )
        } -->
      </ul>
    </nav>
  </div>
</header>
