<p>users-show works!</p>
<h3>You selected user with id = {{userId}}</h3>
<p>
  <button (click)="goPrevious()">Previous</button>
  <button (click)="goNext()">Next</button>
</p>

<div>
  <button (click)="gotoUsers()">Back</button>
</div>

<p>
  <button (click)="showFollowing()">following</button>
  <button (click)="showFollowers()">followers</button>
</p>

<router-outlet></router-outlet>

<h2>User Detail</h2>
<h3>{{errorMsg}}</h3>    
<ul *ngFor="let user of users">
  <li>{{user.id}}. {{user.name}} - {{user.age}}</li>
</ul>
<h2>Welcome {{name}}</h2>
<h2>{{url}}</h2>
<h2 class="text-success">Codevolution</h2>
<h2 [class]="successClass">Codevolution</h2>
<h2 [class.text-danger]="hasError">Codevolution</h2>
<h2 [ngClass]="messageClasses">Message</h2>
<h2 [style.color]="'orange'">Style Binding</h2> 
<h2 [style.color]="hasError ? 'red' : 'green'">Style Binding 2</h2>            
<h2 [style.color]="highlightColor">Style Binding 3</h2>
<h2 [ngStyle]="titleStyles">Style Binding 4</h2>
<button (click)="onClick($event)">Greet</button>
<button (click)="greeting = 'Welcome Vishwas'">Greet Vishwas</button> 
<h2>{{greeting}}</h2>
<input #myInput type="text">
<button (click)="logMessage(myInput)">Log</button>
<input type="text" [(ngModel)]="name">
{{name}}
