<h1>All users</h1>

<ngb-pagination 
  [collectionSize]="total_count" 
  [pageSize]="itemsPerPage" 
  [(page)]="page" 
  [rotate]="true"
  [ellipses]="false"
  [boundaryLinks]="true"
  [maxSize]="5" 
  (pageChange)="onPageChange(page)">
</ngb-pagination>

<ul class="users">
  <li *ngFor="let u of users; index as i">
    <img alt={{u.name}} class="gravatar" src="https://secure.gravatar.com/avatar/{{u.gravatar_id}}?s={{u.size}}" />
    <a href='/users/{{u.id}}'>{{u.name}}</a>
    <ng-container *ngIf="current_user.admin && current_user.id !== u.id">
      | <a [routerLink]="" (click)="removeUser(i, u.id)">delete</a>
    </ng-container>
  </li>
</ul>

<ngb-pagination 
  [collectionSize]="total_count" 
  [pageSize]="itemsPerPage" 
  [(page)]="page" 
  [rotate]="true"
  [ellipses]="false"
  [boundaryLinks]="true"
  [maxSize]="5" 
  (pageChange)="onPageChange(page)">
</ngb-pagination>
