<div *ngIf="isAuthenticated; then thenBlock; else elseBlock"></div>
<ng-template #thenBlock>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <img alt={{user.name}} class="gravatar" src="https://secure.gravatar.com/avatar/{{gravatar}}?s=50" />
        <h1>{{user.name}}</h1>
        <span><a routerLink="/users/{{user.id}}" routerLinkActive="active">view my profile</a></span>
        <span [ngPlural]="micropost" >
          <ng-template ngPluralCase="=0">{{micropost}} micropost</ng-template>
          <ng-template ngPluralCase="=1">{{micropost}} micropost</ng-template>
          <ng-template ngPluralCase="other">{{micropost}} microposts</ng-template>
        </span>
      </section>

      <section class="stats">
        <div class="stats">
          <a routerLink="/users/{{user.id}}/following" routerLinkActive="active">
            <strong id="following" class="stat">
              {{following}}
            </strong> following
          </a>
          <a routerLink="/users/{{user.id}}/followers" routerLinkActive="active">
            <strong id="followers" class="stat">
              {{followers}}
            </strong> followers
          </a>
        </div>
      </section>

      <section class="micropost_form">
        <form
        encType="multipart/form-data"
        action="/microposts"
        acceptCharset="UTF-8"
        method="post"
        (ngSubmit)="handleSubmit($event)"
        >
          <div *ngIf="errorMessage" id="error_explanation">
            <div class="alert alert-danger">
              The form contains  error.
            </div>
            <ul>
              <li *ngFor="let error of errorMessage">{{error}}</li>
            </ul>
          </div>
          <div class="field">
              <textarea
              placeholder="Compose new micropost..."
              name="micropost[content]"
              id="micropost_content"
              value={{content}}
              (change)="handleContentInput($event)"
              >
              </textarea>
          </div>
          <input #inputEl type="submit" name="commit" value="Post" class="btn btn-primary" data-disable-with="Post" />
          <span class="image">
            <input #inputImage
            accept="image/jpeg,image/gif,image/png"
            type="file"
            name="micropost[image]"
            id="micropost_image"
            (change)="handleImageInput($event)"
            />
          </span>
        </form>
      </section>
    </aside>

    <div class="col-md-8">
      <h3>Micropost Feed</h3>
      <ol class="microposts">
        <li *ngFor="let i of feed_items" id= 'micropost-{{i.id}}' >
          <a href='/users/{{i.user_id}}'>
            <img alt={{i.user_name}} class="gravatar" src="https://secure.gravatar.com/avatar/{{i.gravatar_id}}?s={{i.size}}" />
          </a>
          <span class="user"><a href='/users/{{i.user_id}}'>{{i.user_name}}</a></span>
          <span class="content">
            {{i.content}}
            <img *ngIf="i.image" alt="Example User" src='{{i.image}}' />
          </span>
          <span class="timestamp">
            Posted {{i.timestamp}} ago.
            <a *ngIf="user.id === i.user_id" [routerLink]="" (click)="removeMicropost(i.id)">delete</a>
          </span>
        </li>
      </ol>

      <ngb-pagination 
        [collectionSize]="total_count" 
        [pageSize]="itemsPerPage" 
        [(page)]="page" 
        [rotate]="true"
        [ellipses]="false"
        [boundaryLinks]="true"
        [maxSize]="5" 
        (pageChange)="onPageChange(page)">
      </ngb-pagination>
    </div>
  </div>
</ng-template>
<ng-template #elseBlock>
  <div class="center jumbotron">
    <h1>Welcome to the Sample App</h1>
    <h2>
    This is the home page for the <a href="https://www.railstutorial.org/">Angular Tutorial</a> sample application.
    </h2>
    <a class="btn btn-lg btn-primary" routerLink="/signup" routerLinkActive="active">Sign up now!</a>
  </div>
  <a href="https://rubyonrails.org/"><img alt="Rails logo" width="70" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==" /></a>
</ng-template>
